/*
 * General
*/

/*
font-family: 'Roboto Slab', serif;
*/


@include global-reset;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  @include single-transition(all, .5s, ease-in-out);  
}
body {
    font-size: $default;
    font-family: 'Lato', sans-serif;
    color: $dark;
}

.container {
    @include container;
    margin:0 auto;
}
::-moz-selection {
    background: green;
    color:$light;
}
::selection {
    background: green;
    color:$light;
}
a {
    color: $light;
    text-decoration: none;
}

#{headings()} {
    color: $light;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

main {
    h2 {
        margin-bottom: 1rem;
        line-height: 2rem;
        color: $dark;
    }
}

@for $i from 1 through 4 {
    .padded-#{20*$i} {
        margin-bottom: (20*$i)+px;
    }
}


@include keyframes(appear) {
    from {
        @include transform(scale(0));
        opacity:0;
    }
    to {
        @include transform(scale(1));
        opacity:1;
    }
}

.main-content {
    @include animation(appear .5s ease-in-out);
}


main.container {
    padding:2rem 0;
}

#begin {
    padding: 2rem 0;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li {
        margin-right: 1rem;
    }
}

.button, [type=submit] {
    @include button("simple", "push", 9px, 1.2rem, lighten($darkblue, 10%));
}