#results {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: $dark;
  }
  ol {
    padding: 2rem 0;
    text-align: center;
  }
  li {
    margin-bottom: .5rem;
    &:before {
      width:10px;
      height:10px;
      margin-right: .8rem;
      content: '';
      display: inline-block;
      border-radius: 3px;
    }
    $colors: ('#e74c3c', '#2980b9', '#3498db', '#2c3e50', '#000000', '#ffffff', '#FFCF15', '#573D7D', '#FF5F91', '#532C00');
    $i: 1;
    @each $color in $colors {
      &:nth-child(#{$i}) {
        &:before {
          background-color: #{$color};
        }
      }
      $i: $i+1;
    }
  }
}